#contact {
    padding:80px 0;
    background-color: #28536c;
    color: #fff;
}
#contact p, h1 {
    text-align: center;
}
#contact .btn-secondary {
    padding:4px 50px;
    margin: 20px;
    border: 1px solid #fff;
    border-radius: 0;
    transition:0.3s;
    
}
#contact .btn-secondary:hover {
    color:#fff;
    background-color: #081f3d;
    transition:0.3s;
    
}

